/*滚动条设置*/
::-webkit-scrollbar {
	width: 5px;
	/* background-color: #0B2050; */
	background-color: rgba(0, 0, 0, 0);
	/* background-color: #FFF; */
}

::-webkit-scrollbar-track {
	border-radius: 2px;

	/* background-color: #113888; */
	background-color: rgba(0, 0, 0, 0);



}

::-webkit-scrollbar-thumb {
	border-radius: 10px;

	background-color: #1AFA29;


}

*::-webkit-media-controls-start-playback-button {
	display: none;

	-webkit-appearance: none;

}

*::-webkit-media-controls-panel {
	display: none;

	-webkit-appearance: none;

}

*::--webkit-media-controls-play-button {
	display: none;

	-webkit-appearance: none;

}