/* （重置）浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    /* color: rgb(221, 49, 22); */
    color: #FFF;
}

.html {

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);



}

.html1 {
    -webkit-filter: brightness(150%);
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #000;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: coral;
}


.nav {
    width: 100%;
    height: 50px;
    /* background-color: rgb(0, 253, 215); */
    padding: 8px 0px;
    /* 只改变背景透明度，不改变其中文字、图片等透明度 */
    /* background-color: rgba(0, 0, 0, 0); */
    line-height: 50px;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

.light {
    background-color: #113888;
}

.logo {
    width: 150px;
    /* background-color: red; */
    float: left;
    margin-left: 10%;
}

.logo>img {
    max-width: 100%;
    max-height: 100%;
}

.nav_ul {
    width: 800px;
    float: left;
    /* background-color: aliceblue; */
}

.nav_ul>ul li {
    float: left;
    margin-left: 50px;
    position: relative;
}

.nav_ul_li>li img {
    vertical-align: top;
    width: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

.nav_ul li ul {
    position: absolute;
    display: none;

}

/*导航-鼠标滑过*/
.nav_ul li>a:hover {
    color: #FFBB59;
}

.nav_ul li:hover {
    color: #FFBB59;
}

/*二级菜单 一些页面*/
#Some_pages {
    display: none;
    width: 145px;
    background: #FFF;
    margin-left: -20px;
    border-radius: 5px;
}

#Some_pages li {
    margin-left: 20px;
}

#Some_pages li>a {
    color: #000;
}

#Some_pages li>a:hover {
    color: coral;
}

/*二级菜单 分类*/
#sort {
    display: none;
    width: 170px;
    background: #FFF;
    margin-left: -20px;
    border-radius: 5px;
}

#sort li {
    margin-left: 20px;
}

#sort li>a {
    color: #000;
}

#sort li>a:hover {
    color: coral;
}

/* 三角形小图标 */
.triangle {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom-color: #FFF;
    margin-top: -15px;
    display: none;
}

.triangle1 {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom-color: #FFF;
    margin-top: -15px;
    display: none;
}

.music {
    width: 180px;
    height: 30px;
    /* background-color: red; */
    position: fixed;
    right: 200px;
    top: 14px;
    display: block;
}

/* .music1 {
    width: 200px;
    height: 30px;
    background-color: red;
    position: fixed;
    right: 150px;
    top: 30px;
    display: none;
} */

.music_top {
    height: 30px;
    /* background: #FFBB59; */
}

.music_top>img {
    width: 20px;
    margin-right: 30px;
}

/* .music_bottom {
    height: 10px;
    background: blue;
} */



/* 搜索框 */
.search {
    float: left;
    width: 260px;
}


.search>img {
    vertical-align: top;
    width: 20px;
    margin-top: 17px;
    margin-left: 2%;
    float: right;
}

.search>input {
    height: 25px;
    width: 220px;
    border-radius: 5px;
    border: 0;
    color: #000;
    text-indent: 1em;
    /* display: none; */
}


input:focus {
    border-style: none;
    outline: none;
}


/* ---------------------内容 */
.center {
    height: auto;
    width: 1215px;
    margin: auto;
    /* background: red; */
    padding-top: 80px;
    /* 只改变背景透明度，不改变其中文字、图片等透明度 */
    background-color: rgba(0, 0, 0, 0);

}

.center>.top {
    height: 200px;
    /* background-color: aquamarine; */
    text-align: center;
    line-height: 50px;
    padding-top: 80px;
    /* 只改变背景透明度，不改变其中文字、图片等透明度 */
    background-color: rgba(0, 0, 0, 0);
}

.gonggao {
    width: 250px;
    height: auto;
    float: left;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.neirong {
    float: left;
    width: 935px;
    height: auto;
    /* background-color: #FFF; */
    margin-left: 30px;
    /* border-radius: 5px; */
    background-color: rgba(0, 0, 0, 0);
}

.ggao,
.daohang,
.zhandian {
    border-radius: 5px;
    /* color: #000; */
    line-height: 30px;
}

.ggao {
    height: auto;
    background-color: #113888;
    padding: 10px;
}

.erweima {
    height: auto;
    /* background-color: #FFBB59; */
    margin-top: 30px;
    text-align: center;
}

.erweima>span {
    padding-right: 40px;
    padding-left: 25px;
}

.ggao>h4 {
    color: #FFBB59;
    text-align: center;
    padding-bottom: 20px;
}

.ggao>p {
    padding-left: 10px;
}

.ggao>div>img {
    width: 30%;
    margin-right: 20px;
}

.daohang {
    height: auto;
    background-color: blueviolet;
    margin-top: 10px;

}

.daohang_name {
    padding-top: 30px;
    height: 100px;
    background-color: #113888;
    text-align: center;
    border-radius: 5px;
}

.daohang_name>h4 {
    color: #FFF;

}

.daohang_nav {
    height: auto;
    background-color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.daohang_nav li {
    display: inline;
    /* width: 140px; */
    /* margin-bottom: 20px; */
    padding-top: 20px;
}

.daohang_nav li>a {
    color: #000;
    /* background-color: red; */
    /* width: 210px; */
    /* line-height: 0%; */
    display: block;
    /* margin-top: 4px; */
    margin-bottom: 5px;
    padding-left: 15px;
}

.daohang_nav li>a:hover {
    background-color: #b4b4b4;
    color: #FFF;
}

.daohang_ul>li img {
    vertical-align: top;
    width: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.zhandian {
    height: 600px;
    /* background-color: #FFF; */
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    color: #000;
    border-radius: 5px;
}

.zhandian_gd {
    position: fixed;
    z-index: 1;
    left: 160px;
    top: 80px;
}

.zhandian_ul {
    width: 240px;
    height: 30px;
    padding: 5px;
    background-color: #FFF;
    /* background-color: #FFBB59; */
    border-radius: 5px 5px 0px 0px;
}

.zdinfo {
    color: #000;
    width: 240px;
    padding: 5px;
    height: auto;
    /* background-color: red; */
    background-color: #FFF;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}

.zdinfo span {
    color: #000;
}

.zdinfo span>a {
    margin-right: 10px;
    color: #000;
}

.zdinfo span>a:hover {
    color: coral;
    ;
}

.zdinfo>a {
    color: #000;
    margin-left: -5px;
    display: inline;
}

.zdinfo>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 4px;
    /* margin: 5px; */
}

.gninfo {
    color: #000;
    height: 450px;
    padding-bottom: 20px;
    width: 250px;
    background-color: #FFF;
    overflow-y: auto;
    /* 这个会强制文字在同一行显示 */
    /* white-space: nowrap; */
    overflow-x: hidden;
    border-radius: 0px 0px 10px 5px;
}

.zuixin_article>h4 {
    color: coral;
    /* background-color: red; */
    /* text-align: center; */
    text-indent: 1em;
    margin-top: 10px;
}

.zuixin_article {
    height: auto;
    /* background-color: red; */
    margin-bottom: 20px;
}

.zuixin_article>ul li {
    display: inline;

}

.zuixin_article>ul li>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 5px;
}

.zuixin_article>ul li>a {
    /* color: #FFBB59; */
    color: #000;
    /* background-color: red; */
    display: block;
    margin-top: 2px;
    width: 230px;
    padding-left: 15px;
}

.zuixin_article>span>a {
    color: #000;
    padding-left: 15px;
}

.zuixin_article>span>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 5px;
}


.zuixin_article>ul li>a:hover {
    background-color: beige;
}


.zuixin_article>p {
    color: #000;
    text-indent: 1em;
    width: 223px;
    height: 30px;
    overflow: hidden;

}

.zuixin_article>p>a {
    color: #000;
    /* border-left: 4px coral solid; */
    /* padding-left: 2px; */

}

.zuixin_article>p>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 5px;
}

.zuixin_article>p>a:hover {
    color: coral;

}


.zdinfo>a:hover {
    color: coral;
}




.zdinfo>img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    border: #000 1px solid;
    /* display: block; */
    transition: all 0.5s;
}

.zdinfo>img:hover {
    transform: rotate(360deg);
}

.zhandian_ul>ul li {
    float: left;
    /* margin-right: 20px; */
    margin-left: 50px;
    color: #113888;
}

.light_li {
    border-bottom: #113888 2px solid;
}

.zhandian_ul>ul li {
    cursor: pointer;
}

.zhandian_ul>ul li>a:hover {
    color: coral;
}

.neirong_list {
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    padding: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.neirong_listImg {
    height: 400px;
    position: relative;
    color: #000;
    text-align: center;
}

.neirong_listImg>a {
    width: 500px;
    color: coral;
    position: absolute;
    /* background-color: rebeccapurple; */
    font-size: 30px;
    left: 0%;
    top: 50%;
    display: inline;
    padding-left: 20%;

}

.neirong_listImg>img {
    width: 100%;
    height: 100%;
}

.neirong_neirong>span {
    position: absolute;
    left: 0;
    margin-top: -20px;
    width: 500px;
    margin-left: 350px;
    color: #000;
    /* background-color: #000; */
    display: inline;
}

.neirong_neirong>span>img {
    width: 20px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 4px;
}



.neirong_neirong {
    margin-top: 10px;
    color: #000;
    height: auto;
    /* background-color: #113888; */
    padding: 20px;
    /* text-indent: 2em; */
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
}

.neirong_neirong>p {
    color: #000;
    text-indent: 2em;
    margin-top: 20px;
    height: 65px;
}

.neirong_neirong>a>h3 {
    color: #FFBB59;
    margin-bottom: 10px;
    /* width: 500px; */
    overflow: hidden;
    height: 50px;
    text-align: center;
    /* background-color: #000; */
}

.neirong_neirong>a>h3:hover {
    animation: text 0.2s linear infinite alternate;
}

@keyframes text {
    25% {
        filter: drop-shadow(5px 5px 0px rgb(0, 81, 255));
    }

    75% {
        filter: drop-shadow(-4px -5px 0px rgb(247, 0, 255));
    }

    85% {
        filter: drop-shadow(5px -3px 0px rgb(255, 238, 0));
    }
}

.neirong_biaoqian {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
    text-indent: 2em;
    color: coral;
    font-weight: bolder;
    /* background-color: red; */
}

.neirong_biaoqian>a {
    color: #000;
    margin-left: 20px;
}

.banquan {
    height: auto;
    text-align: center;
    padding-top: 20px;
    background-color: #113888;
    color: #FFF;
}

.banquan>p {
    margin-bottom: 20px;
}

.banquan>p>a {
    color: #FFBB59;
}

.banquan>p>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 1px;
}

.shangxiaye {
    height: auto;
    text-align: center;
    width: 610px;
    /* margin-left: 280px; */
    padding-top: 20px;
    margin-bottom: 20px;
    /* background-color: #000; */
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    padding-left: 320px;
}

.shangxiaye>ul li {
    list-style-type: none;
    float: left;
    margin: 1%;
    display: inline;
    background-color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.shangxiaye>ul>li>a>img {
    width: 20px;
    vertical-align: top;
    margin-top: 8px;
}

.shangxiaye>ul>li>a>img:hover {
    color: coral;
}

.shangxiaye>ul li>a {
    color: rgb(145, 145, 145);
}

.shangxiaye>ul li>a:hover {
    color: #FFF;
}

.shangxiaye>ul li {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
}

.shangxiaye>ul li:hover {
    background-color: coral;
    color: #FFF;
}

.shangxiaye>ul>.xuanzhong {
    background-color: coral;
    color: #FFF;
}


.banquan>p>img {
    width: 20px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 2px;
}

/* 侧边换肤功能 */
.skin_peeler {
    width: 50px;
    height: 200px;
    /* background: #000; */
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.skin_peeler1 {
    width: 30px;
    height: 30px;
    background: red;
    margin: 8px;
    border-radius: 5px;
    background-color: #FFF;
}

.skin_peeler1>img,
.skin_peeler1>a>img {
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
}